{{ $lastestProject := ($.Site.GetPage "projects" .Section).Pages }} 
{{ range first 1 $lastestProject }}
<section class="relative py-24 bg-white">
  <div class="container mx-auto px-4">
    <div class="items-center flex flex-wrap">
      <div class="w-full md:w-6/12 ml-auto mr-auto px-4 pb-2">
        {{ $original := resources.Get .Params.Image }}
        {{ if $original }}
        {{ $resized := $original.Resize "500x" }}
        <img
          alt="..."
          class="max-w-full rounded-lg shadow-lg"
          src="{{$resized.RelPermalink}}"
        />
        {{ end }}
      </div>
      <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
        <div class="md:pr-12">
          <div
            class="text-center inline-flex items-center justify-center text-sm text-gray-700"
            title="Latest Project"
          >
            Latest Project
          </div>
          <h3 class="text-3xl font-semibold">
            {{ .Title }}
            <a
              class="px-4 text-gray-700 inline-flex"
              href="{{ .Params.Link }}"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Visit {{.Title}}"
            >
              <svg
                class="inline"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                ></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
              </svg>
            </a>
          </h3>
          <p class="mt-4 text-lg leading-relaxed text-gray-600">
            {{ .Content }}
          </p>
          <ul class="list-none mt-2">
            {{ range .Params.Stack }}
            <li class="py-1">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-700 bg-gray-800 mr-3"
                    ><i class="fas fa-fingerprint"></i
                  ></span>
                </div>
                <div>
                  <h4 class="text-gray-700">
                    {{ . }}
                  </h4>
                </div>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
        <a class="block mt-6 text-gray-600 hover:text-gray-800 transition-colors duration-200 ease-in" href="/projects">
          → View all side-projects
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
