{{ $paginator := .Paginator }}

<!-- Number of links either side of the current page. -->
{{ $adjacent_links := 2 }}

<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}

<!-- $lower_limit = $adjacent_links + 1 -->
{{ $lower_limit := (add $adjacent_links 1) }}

<!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}


{{ if gt $paginator.TotalPages 1 }}

<div class="w-full text-center">
  <ul class="inline-flex pl-0 list-none rounded my-2">
    
    <!-- First page. -->
    {{ if ne $paginator.PageNumber 1 }}
    <a href="{{ $paginator.First.URL }}">
      <li
        class="relative block py-2 px-4 leading-tight bg-white border border-gray-300 text-blue-700 border-r-0 ml-0 rounded-l hover:bg-gray-200">
        First
      </li>
    </a>
    {{ end }}

    <!-- Previous page. -->
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}">
      <li 
        class="relative block py-2 px-4 leading-tight bg-white border border-gray-300 text-blue-700 border-r-0 hover:bg-gray-200">
        Previous
      </li>
    </a>
    {{ end }}
  
    <!-- Page numbers. -->
    {{ range $paginator.Pagers }}
    
      {{ $.Scratch.Set "page_number_flag" false }}

      
      <!-- Advanced page numbers. -->
      {{ if gt $paginator.TotalPages $max_links }}


        <!-- Lower limit pages. -->
        <!-- If the user is on a page which is in the lower limit.  -->
        {{ if le $paginator.PageNumber $lower_limit }}

          <!-- If the current loop page is less than max_links. -->
          {{ if le .PageNumber $max_links }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}


        <!-- Upper limit pages. -->
        <!-- If the user is on a page which is in the upper limit. -->
        {{ else if ge $paginator.PageNumber $upper_limit }}

          <!-- If the current loop page is greater than total pages minus $max_links -->
          {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}


        <!-- Middle pages. -->
        {{ else }}
          
          {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}

        {{ end }}

      
      <!-- Simple page numbers. -->
      {{ else }}

        {{ $.Scratch.Set "page_number_flag" true }}

      {{ end }}

      <!-- Output page numbers. -->
      {{ if eq ($.Scratch.Get "page_number_flag") true }}
        <a href="{{ .URL }}">
          <li
            class="relative block py-2 px-4 leading-tight bg-white border border-gray-300 border-r-0 {{ if eq . $paginator }} bg-blue-700 text-white hover:bg-blue-800 {{ else }} text-blue-700 hover:bg-gray-200 {{end}}">
            {{ .PageNumber }}
          </li>
        </a>
      {{ end }}

    {{ end }}

    <!-- Next page. -->
    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" >
      <li class="relative block py-2 px-4 leading-tight bg-white border border-gray-300 text-blue-700 border-r-0 hover:bg-gray-200">
        Next
      </li>
    </a>
    {{ end }}

    <!-- Last page. -->
    {{ if ne $paginator.PageNumber $paginator.TotalPages }}
    <a  href="{{ $paginator.Last.URL }}">
      <li class="relative block py-2 px-4 leading-tight bg-white border border-gray-300 text-blue-700 rounded-r hover:bg-gray-200">
        Last
      </li>
    </a>
    {{ end }}

  </ul>
</div>
{{ end }}