<header>
  <nav
    class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"
  >
    <div
      class="container px-4 mx-auto flex flex-wrap items-center justify-between"
    >
      <div
        class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
      >
        <a
          class="text-4xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white"
          href="/"
          >{{ .Site.Title }}</a
        ><button
          class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
          type="button"
          onclick="toggleNavbar('collapse-navbar')"
          aria-label="Open Menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="13" y1="18" x2="21" y2="18"></line>
          </svg>
        </button>
      </div>
      <div
        class="lg:flex flex-grow items-center bg-white shadow rounded lg:rounded-none lg:bg-transparent lg:shadow-none hidden"
        id="collapse-navbar"
      >
        <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
          {{ with .Site.Params.menu }}
            {{ range . }}
              <li class="lg:flex lg:items-center">
                <a
                  {{ if ( index . "button" ) }}
                  class="lg:bg-white lg:text-gray-800 active:bg-gray-100 text-md font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 bg-gray-700 text-white inline-block"
                  {{ else }}
                  class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-md uppercase font-bold ml-2"
                  {{ end }}
                  href="{{ (index . "link") }}"
                  ><span class="inline-block">{{ (index . "name") }}</span></a
                >
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</header>
