a:hover {
  color: #2c47ff;
}

nav {
  // height: 150px;
  & > * {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    & > * {
      margin: 0 auto;
    }
    .title {
      box-shadow: none;
      text-decoration: none;
      color: inherit;
      padding-bottom: 10px;
    }
    .menu {
      font-size: 1rem;
      a {
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.75;
        transition: all ease-in 200ms;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        padding-bottom: 8px;
        &:hover {
          opacity: 1;
          padding-bottom: 4px;
          border-bottom: 2px solid #2c47ff;
          color: #2c47ff;
        }
        &.active {
          color: #2c47ff;
          opacity: 1;
          padding-bottom: 4px;
          &:hover {
            border-bottom: 2px solid #2c47ff;
          }
        }
      }
    }
  }
}

ul {
  margin-left: 20px;
}
.heading {
  position: relative;
  margin-top: 10px;
  &::before {
    content: '';
    border: 8px solid #2c47ff;
    display: inline-block;
    width: 50px;
    position: absolute;
    bottom: 0;
    opacity: 0.25;
    left: 10px;
    z-index: -1;
  }
}
.profile-pic {
  -webkit-clip-path: polygon(30% 0%, 90% 5%, 90% 90%, 5% 100%);
  clip-path: polygon(30% 0%, 90% 5%, 90% 90%, 5% 100%);
}
.blog-post-card {
  padding: 25px 20px;
  border-radius: 5px;
  box-shadow: 0 9.85px 40px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  margin-bottom: 15px;
  &:hover {
    box-shadow: 0 9.85px 40px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  h3,
  p {
    margin: 5px 0;
  }
}

.sharing-list li {
  display: inline;
  padding: 0 10px;
  transition: all ease-in 200ms;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  &:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
  }
}

.post-header {
  text-align: center;
  margin-bottom: 25px;
  &::after{
    content: '';
    border: 1px solid #2c47ff;
    width: 30px;
    display: flex;
    margin: 0 auto;
  }
  small {
    display: block;
    opacity: 0.75;
    font-style: italic;
    margin-top: -10px;
    span:not(:first-child)::before{
      content: '\00B7';
      padding: 0 10px;
    }
  }
}
.markdown {
  img {
    display: flex;
    margin: 0 auto;
  }
  a {
    color: #2c47ff;
  }
  mark {
    background-color: #d4daff;
  }
  p {
    margin-bottom: 1.25rem;
  }
  blockquote {
    margin-left: 0;
    border-left: 0.21rem solid #d4daff;
    color: #636994;
    padding: 10px 0 10px 20px;
    p {
      margin: 0;
    }
  }
}
hr{ 
  height: 1px;
  color: #d4daff;
  background-color: #d4daff;
  border: none;
}

:not(pre) > code[class*="language-"]{
  padding: 0.5em !important;
}
