.card {
  padding: 15px 30px;
  color: #ffffff;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  & > div {
    flex: 1;
    h2{
      margin: 20px 0;
    }
    p {
      font-size: 0.9em;
      user-select: none;
    }
    a {
      padding: 8px 20px;
      border-radius: 5px;
      opacity: 0.5;
      color: #ffffff;
      transition: 300ms all ease-in;
      &:hover {
        opacity: 1;
      }
    }
    img {
      margin: 0;
    }
  }
}

.img {
  max-width: 50%;
  margin: 10px;
}
a {
  color: #434343;
}