{{ define "main" }}

<div
  class="relative pt-16 pb-16 flex content-center items-center justify-center"
  style="height: 45vh; min-height: 400px"
>
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style="
      background-image: url('{{ .Site.Params.headerImage }}');
    "
  >
    <span
      id="blackOverlay"
      class="w-full h-full absolute {{ if .Site.Params.headerImage }} opacity-75 bg-black {{else}} bg-black {{end}}"
    ></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-8/12 px-4 ml-auto mr-auto text-center">
        <div class="p-4 pb-16">
          <h1 class="text-white font-semibold text-4xl">
            {{ .Title }}
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div
    class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
    style="height: 70px; transform: translateZ(0px);"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-gray-300 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
</div>



<section class="relative py-16 bg-gray-300">
  <div class="container mx-auto px-4">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-32">
      <div class="absolute w-full px-4 flex justify-center">
        <img alt="{{.Site.Title}}" src="{{.Params.photo}}" class="shadow-xl rounded h-auto align-middle border-none absolute -mx-auto -mt-16 w-32 lg:-mt-32 lg:w-64">
      </div>
      <div class="px-8 py-8 lg:px-16 lg:py-16 pt-16 lg:pt-32 markdown">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}