{{ define "main" }}

<div
  class="relative pt-16 pb-16 flex content-center items-center justify-center"
  style="min-height: 45vh;"
>
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style="
      background-image: url('{{ .Site.Params.headerImage }}');
    "
  >
    <span
      id="blackOverlay"
      class="w-full h-full absolute {{ if .Site.Params.headerImage }} opacity-75 bg-black {{else}} bg-black {{end}}"
    ></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-8/12 px-4 ml-auto mr-auto text-center">
        <div class="p-4">
          <h1 class="text-white font-semibold text-4xl">
            {{ .Title }}
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div
    class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
    style="height: 70px; transform: translateZ(0px);"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-gray-300 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
</div>

<section class="block relative z-1">
  <div class="container mx-auto">
    <div class="justify-center flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4 -mt-32">
        <div class="flex flex-wrap">
          {{ range .Paginator.Pages }}
          <a href={{ .Permalink }} class="w-full lg:w-6/12 px-4 mb-6">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full h-full shadow-xl rounded-lg">
              {{ if .Params.CoverImage }}
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-2 rounded-lg flex-1 justify-center"
                style="transition: all 0.15s ease 0s;"
              >
                {{ $original := resources.Get .Params.CoverImage }}
                {{ if $original }}
                {{ $resized := $original.Resize "500x" }}
                <img
                  alt="{{ .Title }}"
                  class="align-middle border-none max-w-full h-auto rounded-lg object-contain"
                  src="{{$resized.RelPermalink}}"
                  loading="lazy"
                />
                {{ end }}
              </div>
              <h5 class="text-xl font-semibold p-4 pb-0">{{ .Title }}</h5>
              {{ else }}
              <h5 class="text-xl font-semibold p-4 h-full flex lg:justify-center lg:text-center items-center text-xl lg:text-3xl bg-gray-100 rounded">{{ .Title }}</h5>
              {{ end }}
              {{ $excerpt := default .Summary .Params.Excerpt }}
              <p class="p-4 text-gray-700">{{ $excerpt }}</p>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
    </div>

    {{- partial "paginator.html" . -}}

  </div>
</section>

{{ end }}