{{ define "main" }}

<div
  class="relative pt-16 pb-16 flex content-center items-center justify-center"
  style="min-height: 45vh;"
>
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style="
      background-image: url('{{ .Site.Params.headerImage }}');
    "
  >
    <span
      id="blackOverlay"
      class="w-full h-full absolute {{ if .Site.Params.headerImage }} opacity-75 bg-black {{else}} bg-black {{end}}"
    ></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-10/12 px-4 ml-auto mr-auto text-center">
        <div class="p-4">
          <h1 class="text-white font-semibold text-4xl md:text-5xl">
            {{ .Title }}
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div
    class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
    style="height: 70px; transform: translateZ(0px);"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-gray-300 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
</div>



<section class="relative pt-16 pb-8 bg-gray-300">
  <div class="container mx-auto px-4">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-32">
      {{ if .Params.CoverImage }}
      <div
        class="rounded overflow-hidden -mt-8 rounded mx-8 shadow-md bg-white"
      >
        {{ $original := resources.Get .Params.CoverImage }}
        {{ if $original }}
        {{ $resized := $original.Resize "900x jpg" }}
        <img
          alt="{{ .Title }}"
          class="align-middle max-w-full h-auto rounded-lg mx-auto"
          src="{{$resized.RelPermalink}}"
        />
        {{ end }}
      </div>
      {{ end }}
      <p class="px-8 pt-8 lg:px-16 lg:pt-16 opacity-50">{{ .ReadingTime }} minute(s) read</p>
      <div class="px-8 pb-2 lg:px-16 lg:pb-4 markdown">
        {{ .Content }}
      </div>
      {{- partial "sharing-buttons.html" . -}}
    </div>
  </div>
</section>

{{- partial "social-profiles.html" . -}}

{{ end }}